<ul>
  <li><%= "ID: #{@product.id}" %></li>
  <li><%= "Name #{@product.name}" %></li>
  <li><%= "Min_value #{@product.min_value}" %></li>
  <li><%= "Cost_price #{@product.cost_price}" %></li>
  <li><%= "Type: #{@product.product_type}" %></li>
</ul>